
<body>
	
	<div class="login-page">
		<div class="container pb-5">
			<div class="row align-items-center pt-3 mb-3" id="header">
				<div class="col-xs-12 col-sm-12 col-lg-8 p-0">
					<img src= "./assets\img\nirogi-haryana.png" alt="Haryana Government Logo" />
				
					<h4 class="header-title m-0 text-white d-inline-block">NIROGI Haryana <span><i>Health Department, Haryana</i></span></h4>
				</div>
			</div>
			
			
			<div class="row align-items-center mt-5 mb-3 justify-content-between">
				<div class="col-xs-12 col-sm-5">
					<h3 class="text-white">Log in</h3>
					<h6 class="text-light">Welcome Back! Please enter your details.</h6>
					<span id="errorMessage"  *ngIf="loginError==true" style="color: red; font-size: small; background-color: whitesmoke;  ">Invalid Credentials!</span>
					<span id="errorMessage"  *ngIf="emptyField==true" style="color: red; font-size: small; background-color: whitesmoke;  ">Fill all the fields!</span>
					<div class="form-floating mb-3 pt-2">
						<input matInput [(ngModel)]="credential.username" type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required pattern="[A-Z,a-z,@,.,0-9,_]*" />
						<label for="floatingInput">Email address / Username</label>
						
					</div>
					<div class="form-floating">
						<input matInput [(ngModel)]="credential.password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required />
						<label for="floatingPassword">Password</label>
					</div> 
					
					<button class="btn btn-primary mt-3 w-100 fs-5" type="submit" (click)="onSubmit()">Sign In</button>
					
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					<img src="./assets\img\login-img.png" style="width:60%" class="img-fluid"  />
				</div>
			</div>

			<div class="row" *ngIf="spinner==true">
				<div id="loader">
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="loading"></div>
				</div>
			</div>
			
		</div>
		<!--<div class="container " *ngIf="loginLoader==true">
			<div class="ring"></div>
			<div class="ring"></div>
			<div class="ring"></div>
			<p>Loading ...</p>
		</div>-->
		
		
		
		<footer>
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-xs-12 col-sm-8 col-md-12">
						<p>Designed by <a href="#"> Department of Information Technology Electronics & Communication, Haryana</a></p>
					</div>
				</div>
			</div>
		</footer>
        <!-- curtain -->
	</div>
<body>
