<div class="container pt-3" id="first-body" >
    
    <p class="msg_success m-0"> {{successfull}}</p>

    <div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Details</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="row" *ngFor="let d of showData">
				
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">PPP ID</label>
						<h6 class="mb-1"> {{d.pppId}} </h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Name of Patient</label>
						<h6 class="mb-1"> {{d.firstname}} {{d.lastname}}</h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Age &amp; Gender</label>
						<h6 class="mb-1">{{d.age}} {{d.gender}}</h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Mobile</label>
						<h6 class="mb-1">{{d.mobileNo}} </h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 mt-1">
						<label class="text-secondary label-details">Address</label>
						<h6 class="mb-1"> {{d.address}} </h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Name of Facility</label>
						<h6 class="mb-1">{{this.detailsData.facility}}</h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Date</label>
						<h6 class="mb-1">{{currentDate | date:'dd-MM-yyyy'}}</h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">District</label>
						<h6 class="mb-1">{{this.detailsData.district}}</h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Name of Facility Doctor</label>
						<h6 class="mb-1">Dr. {{this.detailsData.createdBy}} </h6>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 mt-1">
						<label class="text-secondary label-details">Reference Id</label>
						<h6 class="mb-1" >{{this.detailsData.referenceId}} </h6>
					</div>							   
				</div>						   
			</div>
		</div>

		<!--General section-->
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingHistory">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#history" aria-expanded="true" aria-controls="history">General Physical Examination</button>
			</h2>
			<div id="history" class="accordion-collapse collapse" aria-labelledby="headingHistory" data-bs-parent="#accordionExample">
				<div class="row align-items-end form-group pt-1" *ngFor="let g of GeneralDataList">
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">1. Weight (in kg)</label>
						<input name="weight" class="form-control" value={{g.weight}}   matInput disabled />
					</div>
			   
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">2. Height (in cm)</label>
						<input  placeholder="in cm" name="height"  class="form-control" value={{g.height}} disabled />
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">3. BMI (kg/ &#13217; )</label>
						<input   name="headCircum" matInput class="form-control" value={{g.bmi}} disabled />
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">4. Pulse (per min)</label>
						<input  name="heartRate" placeholder="100-180 (per min)"  class="form-control" value={{g.pulseRate}} disabled />
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">5. BP (mmHg)</label>
						<input  name="respiratoryRate" placeholder="30-60 (per min)" class="form-control" value={{g.bloodPressure}} disabled />
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">6. Pallor</label>
						<select class="form-control" id="pallor" disabled >
							<option value="1">{{g.pallor}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">7. Jaundice/Cyanosis</label>
						<select class="form-control" id="jaundice" disabled>
							<option value="1">{{g.jaundice}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">8. Clubbing</label>
						<select class="form-control" id="clubbing" disabled>
							<option value="1">{{g.clubbing}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">9.Lymphadenopathy </label>
						<select class="form-control" id="clubbing" disabled>
							<option value="1">{{g.lymphadenopathy}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">10. Pedal oedema</label>
						<select class="form-control" id="pedalOedema" disabled>
							<option value="1">{{g.pedalOedema}}</option>  
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingPhysicalExam">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#physicalExam" aria-expanded="true" aria-controls="physicalExam">Systemic Examination</button>
			</h2>
			<div id="physicalExam" class="accordion-collapse collapse" aria-labelledby="headingPhysicalExam" data-bs-parent="#accordionExample">
				<div class="row  align-items-end form-group pt-1"  *ngFor="let s of SystemicList">
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">1. Chest</label>
						<select class="form-control" id="chest" disabled>
							<option value="1">{{s.chest}}</option>
						</select>
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">2. CVS</label>
						<select class="form-control" id="cvs" disabled>
							<option value="1">{{s.cvs}}</option>
						</select>
					</div>
			   
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">3. Per abdomen</label>
						<select class="form-control" id="perAbdomen" disabled>
							<option value="1">{{s.perAbdomen}}</option>
						</select>
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">4. CNS </label>
						<select class="form-control" id="cns" disabled>
							<option value="1">{{s.cns}}</option>
						</select>
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">5. Hearing</label>
						<select class="form-control" id="hearing" disabled>
							<option value="1">{{s.hearing}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-6 mb-2">
						<label class=" label-details">6. Eye Refraction</label>
						<div class="row  align-items-end form-group">
							<div class="col-xs-12 col-sm-6 col-lg-4">
								<label class=" label-details"><i class="fa-solid fa-circle-dot"></i> Right eye</label>
								<input type="text" name="" value={{s.rightEye}} id="" matInput  disabled/>

							</div>
							<div class="col-xs-12 col-sm-6 col-lg-4">
								<label class=" label-details"><i class="fa-solid fa-circle-dot"></i> Left eye</label>
								<input type="text" value={{s.leftEye}} matInput disabled />
							</div>
							<div class="col-xs-12 col-sm-6 col-lg-4">
								<label class=" label-details"><i class="fa-solid fa-circle-dot"></i> Colour blindness</label>
								<select class="form-control" id="colorVision" disabled>
									<option value="1">{{s.colorVision}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class=" label-details">7. Dental </label>
						<select class="form-control" id="dentalExamination" disabled>
							<option value="1">{{s.dentalExam}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-3 mb-2">
						<label class=" label-details">8. Genital examination</label>
						<!---input type="number" class="form-control" [(ngModel)]="form.genitalExam" name="" id=""--->
						<select class="form-control" id="genitalExamination" disabled>
							<option value="1">{{s.genitalExam}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-3 mb-2">
						<label class=" label-details">9. Breast examination (for females)</label>
						<input type="text " value={{s.breastExam}} matInput disabled />
					</div>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingSysmetic">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#systemicExam" aria-expanded="true" aria-controls="physicalExam">Mandatory Investigations</button>
			</h2>
			<form [formGroup]="checkedValue" id="systemicExam" class="accordion-collapse collapse" aria-labelledby="headingSysmetic" data-bs-parent="#accordionExample">
				<div class="row  align-items-end form-group pt-1" *ngFor="let mandate of MandatoryList">
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">1. Hb (in g/dl)</label>
						<input  name="hb" formControlName="hb"  value={{mandate.hb}}  class="form-control" id="HbValue" matInput />
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">2. TLC(/cumm)</label>
						<input type="text" formControlName="tlc" class="form-control" value={{mandate.tlc}} name="" id="">
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-8 mb-2">
						<label class="label-details">3. DLC</label>
						<div class="row align-items-end form-group">
							<div class="col">
								<label class="label-details"><i class="fa-solid fa-circle-dot"></i>Neutrophils (in &percnt;)</label>
								<input type="text" class="form-control" formControlName="neutrophils" value={{mandate.neutrophils}}  name="" id="">
							</div>
							<div class="col">
								<label class="label-details"><i class="fa-solid fa-circle-dot"></i>Lymphocytes (in &percnt; )</label>
								<input type="text" class="form-control" formControlName="lymphocytes" value={{mandate.lymphocytes}} name="" id="">
							</div>
							<div class="col">
								<label class="label-details"><i class="fa-solid fa-circle-dot"></i>Monocytes (in &percnt; )</label>
								<input type="text" class="form-control" formControlName="monocytes" value={{mandate.monocytes}} name="" id="">
							</div>
							<div class="col">
								<label class="label-details"><i class="fa-solid fa-circle-dot"></i>Eosinophils (in &percnt; )</label>
								<input type="text" class="form-control" formControlName="eosinophils" value={{mandate.eosinophils}} name="" id="">
							</div>
							<div class="col">
								<label class="label-details"><i class="fa-solid fa-circle-dot"></i>Basophils (in &percnt; )</label>
									<input type="text" class="form-control" formControlName="basophils" value={{mandate.basophils}} name="" id="">
								</div>
							</div>
					 </div>   
						
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">4. Packed Cell Volume <br />(in L/L)</label>
						<input type="text" class="form-control" formControlName="packedCellVolume" value={{mandate.packedCellVolume}}  name="" id="">
					</div>
			   
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">5. Mean Corpuscular Volume <br />(in fL)</label>
						<input type="text" class="form-control" formControlName="meanCorpuscularVolume" value={{mandate.meanCorpuscularVolume}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">6. Mean Corpuscular Hemoglobin <br />(in pg)</label>
					
						<input type="text" class="form-control" formControlName="meanCorpuscularHemoglobin" value={{mandate.meanCorpuscularHemoglobin}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">7. Mean Corpuscular Hemoglobin Concentration <br />(in g/L)</label>
						<input type="text" class="form-control" formControlName="meanCorpuscularHemoglobinConcentration" value={{mandate.meanCorpuscularHemoglobinConcentration}}  name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">8. Platelet count <br />(per m&#13221;)</label>
						<input type="text" class="form-control" formControlName="pletelet" value={{mandate.pletelet}} name="" id="">
					</div>
			   
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">9. RDW-CV <br />(in &percnt;) </label>
						<input type="text" class="form-control" formControlName="rdwcv" value={{mandate.rdwcv}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">10. RDW-SD <br />(in &percnt;) </label>
						<input type="text" class="form-control" formControlName="rdwsd" value={{mandate.rdwsd}} name="" id="">
					</div>
			   
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">11. RBC count <br />(in ul)</label>
						<input type="text" class="form-control" formControlName="rbc" value={{mandate.rbc}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">12. RBS <br />(in mg/ dL)</label>
						<input type="text" class="form-control" formControlName="rbs" value={{mandate.rbs}} name="" id="rbs">
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">13. Serum cholesterol <br />(in mg/ dL)</label>
						<input type="text" class="form-control" formControlName="serumCholesterol" value={{mandate.serumCholesterol}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">14. Blood urea <br />(in mg/ dL)</label>
						<input type="text" class="form-control" formControlName="bloodUrea" value={{mandate.bloodUrea}} name="" id="">
					</div>
			   
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">15. Serum creatinine <br />(in mg/ dL)</label>
						<input type="text" class="form-control" formControlName="serumCreatinine" value={{mandate.serumCreatinine}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">16. Urine routine examination</label>
						<input type="text" class="form-control" formControlName="urineRoutineExam" value={{mandate.urineRoutineExam}} name="" id="">
					</div>
				
					<div class="col-xs-12 col-sm-6 col-lg-2 mb-2">
						<label class="label-details">17. Relevant investigation if advised by specialist</label>
						<input type="text" class="form-control" formControlName="relevantInvestigation" value={{mandate.relevantInvestigation}} name="" id="releventInvestigation">
					</div>
				</div>
			</form>
		</div>
		
		<div class="pagebreak"></div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingDiagnosis">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#diagnosisSec" aria-expanded="true" aria-controls="physicalExam">Diagnosis</button>
			</h2>
			<div id="diagnosisSec" class="accordion-collapse collapse" aria-labelledby="headingDiagnosis" data-bs-parent="#accordionExample"> 
				<div class="row  align-items-center form-group pt-3 pb-3" *ngFor="let d of DiagnosisList">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<label>Diagnosis</label>
						<!-- <select class="form-control" id="diagnosisDropdown" disabled >
							<option value="1">{{d.diagnosed}}</option>
						</select> -->
						<input type="text" value={{d.diagnosed}}>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingPrescription">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#prescriptionSec" aria-expanded="true" aria-controls="physicalExam">Prescription (if any)</button>
			</h2>
			<div id="prescriptionSec" class="accordion-collapse collapse" aria-labelledby="headingPrescription" data-bs-parent="#accordionExample"> 
				<div class="row  align-items-center form-group pt-3 pb-3">
					<div class="col-xs-12 col-sm-12 col-lg-12"  *ngFor="let d of DiagnosisList">
						<textarea id="prescription" value={{d.prescription}} class="form-control"></textarea>
						
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="row mt-3 ">
        <p id="signature" >Doctor's Signature: _______________</p>
    </div>

    <!-- Category Card Ends -->
    
    
    <div class="card bg-dark row rounded-0 footer-button-area" *ngFor="let mandate of MandatoryList">
        <div class="card-body col-xs-12 pt-3 pb-3 text-end">
            <button class="btn btn-primary float-start form-submit-print " *ngIf="mandate.updatedDate==null" [disabled]="!printButton" onclick="window.print()"><i class="fa-solid fa-print"></i> Print</button>
            <button class="btn btn-primary float-start form-submit-print " *ngIf="mandate.updatedDate!=null"  onclick="window.print()"><i class="fa-solid fa-print"></i> Print</button>
			<button class="btn btn-danger  form-submit-button mx-2" (click)="onCancel()"><i class="fa fa-arrow-left"></i> Back</button>
			<button class="btn btn-success form-submit-button" *ngIf="mandate.updatedDate==null" (click)="onSave()" ><i class="fa-solid fa-floppy-disk"></i> Save</button>
        </div>
    </div>
    

</div>